{% load static %}


        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="#" class="sidebar-brand">
          AzTraveler<span>Control</span>
        </a>
                <div class="sidebar-toggler not-active">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="sidebar-body">

                <ul class="nav">
                    <li class="nav-item nav-category">Main</li>

                    <li class="nav-item">
                        <a href="/admin_dashboard/" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Main Page</span>
                        </a>
                    </li>


                    <li class="nav-item nav-category">web apps</li>
                    <li class="nav-item">
                        <a href="/locations/" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Location</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/categories/" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Categories</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/hotels/" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Hotels</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/meals/" class="nav-link">
                            <i class="link-icon" data-feather="box"></i>
                            <span class="link-title">Meals</span>
                        </a>
                    </li>

                </ul>


            </div>
        </nav>

        <!-- partial -->