{% extends 'layout.html' %}
{% load static  %}

{% block cssimports %}
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div class="d-flex align-items-center flex-wrap text-nowrap">
      <a href="/hotels/create/" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
        <i class="btn-icon-prepend" data-feather="plus"></i>
        Add Hotel
      </a>
    </div>
  </div>

				<div class="row">
					<div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Hotels</h6>
                <div class="table-responsive">
                  <table id="myTable" class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                          <th>Icon Image</th>
                          <th>Image</th>
                          <th>Price for Night</th>
                          <th>Location Name</th>
                        <th>Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for hotel in hotels %}
                        <tr>
                          <td>{{hotel.hotel_name}}</td>
                            <td><img src="{{ hotel.hotel_icon_image.url }}"></img></td>
                            <td><img src="{{ hotel.hotel_image.url }}"></img></td>
                            <td>{{ hotel.hotel_price_for_night }}</td>
                            <td>{{ hotel.hotel_location.location_name }}</td>
                            <td>{{ hotel.hotel_adress }}</td>
                        <td><a href="/hotels/edit/{{ hotel.hotel_id }}" class="btn btn-warning">Edit</a></td>
                        <td><a href="/hotels/delete/{{ hotel.hotel_id }}" id="deleteButton" class="btn btn-danger">Delete</a></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
					</div>
				</div>
{% endblock %}

{% block jsimports %}
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
{% endblock %}